@model IEnumerable<ECommerceApp.ViewModels.OrderVM>

@{
    ViewBag.Title = "Invoice";
}

<h2>Invoice</h2>
<div class="alert alert-success">
    <strong>Success</strong> Payment Succesfull !
</div>
<h1></h1>

@{var a = "";}
@{var c = 0;}
@foreach (var b in Model)
{
    a = b.CustomerName;
    c = b.OrderID;

}
        <h4>ID Order : @c </h4>
        <h4>Username : @a </h4>



<table class="table table-bordered table-striped">  
    <tr>  
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
      
    </tr>


    @{ decimal total = 0;}
@foreach (var item in Model)
        {
            total += item.Quantity * item.Price;
    <tr>     
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>       
    </tr>
}

</table>
<p>Total : Rp. @string.Format("{0:N0}", total)</p>
